@import "tailwindcss";


:root {
  --font-inter: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --font-rubik-mono: 'Rubik Mono One', system-ui;
}

/* Utility classes */
.font-inter {
  font-family: var(--font-inter);
}

.font-box {
  font-family: var(--font-rubik-mono);
}

/* make global box-sizing consistent */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* optional: tune body */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}